@media (max-width:1440px) {

    .logo{
        position: fixed;
    }
    .navbar{
        height:100% !important;
        position: fixed;
    }

    .switch{
        margin-left: 795px;

    }

    .container{
        margin-left: 110px;
        margin-right:110px;
        
    }

    .col01{
        padding-top: 190px;
        padding-bottom: 118px;
    }   

    .img-in img{   
        color:transparent;
        height: fit-content;
        max-width:358px;
    }
}


@media (max-width:1024px){
    .logo{
    position: fixed;  }

    .navbar{
        height:100% !important;
        position: fixed;
    }

    .switch{
        margin-left: 377px;
    }

    
    .container, .container1{
        margin-left:0;
        margin-right:0;
    }

    .home-banner{
        width:84vw;
    }
    .homeImg{
        width:84vw;
        opacity: .6;
    }
    

    .col1{
        flex:0 0 auto;
        width:33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .img-in{
        width: 297px;
        height: 297px;
    }
    
    .img-in img{
        max-width: 100%;
    }

    .container1 .row .col2{
        width:526.66px;
    }
}

@media (max-width:768px){
    .container{
        max-width: 720px;
    }

    .switch{
        margin-left: 127px;
    }

    .container h1{
        font-size: 70px;
    }

    .col01{
        padding-top: 190px;
        padding-bottom: 128px;
    }
    
    .col1{
        width: 50%;
    }

    .container1 .row .col2{
        margin-left: 0;
        width:96%
    }

    .col4{
        width: 46%;
    }

    .rowB{
        flex-wrap: wrap;
        justify-content: start;
    }

    .gallaryCol .img1:hover h1{
    font-size: 18px;
    }

    /* .gallaryCol .img1:hover p{
    font-size: 12px;
    } */
}

@media (max-width:600px){

    #scrollbar{
        display: none;
        z-index: 222;
    }
    
    #scrollbar.show{
        display: block!important;
    }
    .mob-header{
        display: block!important;
        visibility: visible;
    }
    .scroll_up{
        visibility: hidden;
    }
    .home{
        visibility: hidden;
    }

    section#home, section#work, section#about{
        margin-left: 0;
        width:100%;
    }

    .col01{
        padding-bottom:162px;
    }

    .home-banner{
        width:102vw;    
    }

    .homeImg{
        width:102vw;
        opacity: .4;
    }

    

    .container h1{
        font-size: 36px;
    }

    section#about{
        padding-top: 60px;
    }

    .col1{
        width: 96%;
    }

    .img{
        justify-content: center;
    }
    .img-in{
        width: 338px;
        height: 338px;
    }

    
    .row{
        gap:2rem;
    }

    .col1{
        width:351px;
    }

    .container1 .row .col2{
        
        height: 641px;
    }

    .rowD{
        flex-direction: column;
    }

    .separated{
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .col4{
        width:100%
    }

    .myGallary{
        flex-direction: column;
    }

    .gallaryCol{
        width: 100%;
    }
}

@media (max-width:375px){
    /* body{
       width: 375px;
    } */
     
     .home{
        padding-left: 0;
        padding-right: 0;
     }
    .col01{
        padding-bottom: 161px;
    }
    
    .col1{
        width:296px;
        margin-right: 0;
    }
    .home-banner{
        width: 326.4px;
        height: 667.2px;
        right:0;            
    }

    .homeImg{
        width: 326.4px;
        height: 667px;
        right:0;
    }

    

    .img-in{
        width: 282px;
        height: 282px;
    }

    .container1 .row .col2{
        height:100%;
    } 
}