body{
    color: black;
    background-color: white;
    font-family: "Rubik", sans-serif;margin: 0px;
    line-height: 1.7;
    font-size: 15px;
}
.scroll_up {
    position: fixed;
    right: 17px;
    bottom: 20px;
    background-color: #fff;
    color: #ff9301;
    width: 45px;
    height: 45px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 25px rgba(0,0,0,.1);
    font-size: 25px;
    font-weight: 500;
    overflow: hidden;
}

.scroll_up button {
    text-decoration: none;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: #ff9301;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.scroll_up svg {
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;
    fill: #ff9301;
}
.logo{
    position: fixed;
    width: 80px;
    height: 80px;
    background-color:#ff9301;
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 80px;
}

.navbar {
    position: fixed;
    width: 80px;
    height: 100vh;
    padding-top:80px;
    text-align: center;
    justify-content: flex-start;
    border-right: 1px solid rgba(11, 11, 19, 0.1);
    box-sizing: border-box;
}

.navbar li {
    width: 80px;
    height: auto;
    border-top: 1px solid rgba(11, 11, 19, 0.1);
    border-right: none;
    list-style: none;
    font-size: 27px;
    padding: 10px 0;
    line-height: 80px;

}

.navbar li:not(:first-child) {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
}

.navbar li a {
    width: 27px;
    height: 27px;
    text-decoration: none;
    color: black;
    text-align: center;
}
.navbar li:first-child{
    padding-top: 45px;
    padding-bottom: 0px;
    border-top: none;
}

section#home{
    width:100% - 80px;
    margin-left: 80px;
}

.home{   
    position: absolute;
    padding: 30px 50px 0;
    width: calc(100%-80px);
    padding: 30px 50px 0;
    z-index: 1;
}

.number{
    color: black;
    font-size: 14px;
}

.mail{
    font-size: 14px;
    margin:0px 0px 0px 40px;
}

.switch{
    margin-left: 880px;
}

.active{
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 8px;
    cursor: pointer;
    background-color: #ff9301;
    text-decoration: none;
}

.inactive{
    color:#0b0b13;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 8px;
}
.inactive:hover{
    background-color: orange;
    color: white;
}

.container{

    margin-left: 154px;
    margin-right:154px;
    display: flex;
    min-height: 100% ;
    width: calc(100%-80px);
    align-items: center;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    z-index: 1;
}

.col01{
    padding-top: 225px;
    padding-bottom:170px;
    z-index: 1;
}

.container h6{
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 20px;
    color: #0b0b13;
    line-height: 1.2;
    outline: none !important;
    display:block;
    box-sizing: border-box;
}

.container h1{
    color: #0b0b13;
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    margin: 0px 0px 15px;
    outline: none !important;
    box-sizing: border-box;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.job-title{
    
    color: #ff9301;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1 !important;
    box-sizing: border-box;
    display: block;

}

.description{
    max-width: 450px;
    margin-top: 0;
    margin-bottom: 1rem;
    outline: none! important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #555;
    font-weight: 400;
    line-height: 1.7;
    font-size: 15px;
}

button.cv{
    color: #fff;
    background: #0b0b13;
    background-color: #0b0b13;
    padding: 0.25px;
    line-height: 42px;
    position: relative;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: .4s;
    letter-spacing: .3px;
    cursor: pointer;
    outline: none !important;
    box-sizing: border-box;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0px;
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0,);
}
.col01 .cv:hover{
    color: black;
    background-color: white;
    border: #0b0b13 solid 1px;
}

.home-banner{
    position: absolute;
    width:50vw;
    height: 100%;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
}


.homeImg{
    background-image: url(/img/home-banner.png);
    position: absolute;
    width:50vw;
    height: 100%;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
}

.home-banner::after{
    background: #f7f7ff;
    content: "";
    position: absolute;
    right: -20vh;
    bottom: -20vh;  
    width: 120vh;
    height: 120vh;
    border-radius: 50%;
    z-index: -1;
    box-sizing: border-box;
}

section#about{
    margin-left: 80px;
    width: calc(100% - 80px);
    background: #f7f7ff;
    display: block;
    padding-top: 100px;
    position: relative;
}
.about{
    position: relative;
    width: 100%-80px;
    display: block;
    box-sizing: border-box;
}

.container1{
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 110px;
    margin-right: 110px;
}

.row{
    align-items: center !important;
    justify-content: center;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col1{
    opacity: 1;
}

.about-me .img{
    position: relative;

}

.about-me .img-in{
    border-radius: 50%;
    max-width: 356px;
    max-height: 358px;
    margin: auto;
    overflow: hidden;
    border: 5px solid #ff9301;
}

img{
    color:transparent;
    height: fit-content;
    max-width:100%
}

.about-me .social-icons{
    position: absolute;
    bottom: -15px;
    left:0;
    right:0;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center !important;
}

.about-me .social-icons a{
    width: 35px;
    height: 35px;
    line-height: 40px;
    border:2px solid #fff;
    text-align: center;
    justify-content: center !important;
    border-radius: 50%;
    position: relative;
    margin: 0 5px;
    cursor: pointer !important;
    text-decoration: none;
    background: #0b0b13;
    color:#fff;    
}

.about-me .social-icons a:hover{
    background-color: #ff9301;
}

.about-me .social-icons a:first-child{
    top: -25px;
}

.about-me .social-icons a:nth-child(2),.about-me .social-icons a:nth-child(4){
    top: -8px;
}

.about-me .social-icons a:nth-child(5){
    top:-25px;
}

.about-me .info{
    text-align: center;
    padding-top: 40px;
    color:#0b0b13;
}

.about-me .info h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.container1 .row .col2{
    margin-left:auto;
    padding: 0 12px;
    width:641px;
    height: 400px;
}

.about-info .title{
    margin-bottom: 30px;
}

.about-info .title h3{
    color: #0b0b13;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}

.about-text p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #555;
    font-weight: 400;
}

.about-info .info-list{
    padding-top: 15px;
    color: #555;
    font-weight: 400;
}

.rowD{
    align-items: center !important;
    justify-content: center !important;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0px;
    display: flex;
}

.col3{
    width:100%;
}

.about-info .info-list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-info .info-list li{
    padding: 4px 0;

}

.about-info .info-list label{
    color: #0b0b13;
    margin:0;
    font-weight: 500;
    padding-right: 10px;

}

.separated{
    background-image: url(/img/border-dark.png);
    padding-top:80px;
    padding-bottom: 80px;
    background-repeat: repeat-x;
    background-size: auto 6px;
    background-position: 50%;
}

.rowB{
    align-items: center !important;
    justify-content: center;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0px;
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}



.container1 .title{
    margin-bottom: 35px;
}

.container1 .title h3{
    color:#0b0b13;
    margin:0;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    line-height: 1.2;
    
}
@keyframes slide-both-side {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
.title h3::after{
    background: rgba(255, 147, 0, 0.5);
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: -15px;
    z-index: -1;
    animation: slide-both-side 4s infinite both;
}

.col4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #555;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
}


.feature-box-01{
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;

}


.feature-box-01:before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top:-220px;
    left: -220px;
    border-radius: 0;
    z-index: -1;
    background: #0b0b13;
    box-sizing: border-box;
    transition: .5s ease-in-out;
}

.feature-box-01:after{

    top: -72px;
    left:-40px;
    border-radius: 50%;
    z-index: -2;
    background: #ff9301;
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    transition: .5s ease-in-out;
    box-sizing: border-box;
}

.feature-box-01:hover:after{
    content: "";
    width:120%;
    left:-10%;
    top:-10%;
    height: 120%;
    border-radius: 0;
    transition: all .55s cubic-bezier(.39, .58, .57, 1) ;
    
}


.feature-box-01:hover:before{
    top: -72px;
    left:-40px;
    border-radius: 50%;
}
.feature-box-01:hover .feature-content h5 , .feature-box-01:hover .feature-content p{
    color: #f7f7ff;
}

.feature-box-01 .icon{
    line-height: 60px;
    font-size: 40px;
    width:60px;
    height: 60px;
    filter: brightness(0) invert(1);
}

.feature-box-01 .feature-content{
    padding-top: 50px;
}

.feature-box-01 .feature-content h5{
    color: #0b0b13;
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 15px;
    line-height: 1.2;
    margin-top: 0;
}

section#work{
    margin-left: 80px;
    width: calc(100% - 80px);
    background: #f7f7ff;
    display: block;
    padding-bottom: 100px;
    position: relative;
}

.portfolio-filter-01{
    padding-top: 15px;
}

.filter{
    display:flex;
    flex-wrap: wrap;
    justify-content: start;
    gap:10px;
    margin-bottom: 10px;
    padding-left: 0;
    color: #555;
}

.filter button{
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
  color: #555;
  
}
.filter .active1{
    border-bottom: #ff9301 solid 1px;

}
.myGallary{
    width: 100%;
    display: flex;
    gap: 20px;
}

.gallaryCol{
    width: 33.33%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    
}

.img1 h1, .img1 p{
    position: absolute;
    opacity: 0;
    padding-left: 30px;
    
}

.img1 p{
    padding-top: 40px;
}


.img1 img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.gallaryCol .img1{
    width:100%;
    overflow: hidden;
    justify-content: start;
    display: flex;
    align-items: start;
}

.gallaryCol .img1:hover img, .gallaryCol .img1:hover h1, .gallaryCol .img1:hover p{
    transform: scale(1.05);
    filter: brightness(50%);
    transition: transform 0.3s ease;
    z-index: 1;

}
.img1 svg{
    position: absolute;
    opacity: 0;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    height: 40px;
    width: 40px;
    background-color: #f7f7ff;
    padding: 6px;
    box-sizing: border-box;
}
.gallaryCol .img1 {
    position: relative;
}
.gallaryCol .img1:hover svg {
    opacity: 1;
    color: #000000;
}
.gallaryCol .img1:hover p,.gallaryCol .img1:hover h1 {
    opacity: 1;
    color: #fff;
    z-index: 2;
    font-weight: 400;
}

.gallaryCol .img1:hover h1{
    font-size: 25px;
    filter:brightness(100%);
}

.gallaryCol .img1:hover p{
    filter: brightness(90%);
}
